$primary-font: "Poppins", sans-serif;
$title-font: "Merriweather", serif;
$normal-font-size: 18px;
$font-weight-regular: 400;
$font-weight-medium: 500;

//Sizes
$max-width-container: 1600px;

//Colores
$black: #2B2D38;
$pink: #DB2A6B;
$gray: #ABABAB;